.wp-block-cover__inner-container {
    .is-style-large-over-image-paragraph {
        color: $primary;
        font-size: rem(56px);
        font-family: 'brandon-grotesque', sans-serif;
        text-transform: uppercase;
        margin: 0;
        letter-spacing: (5px);

        @include media-breakpoint-down(md) { 
            font-size: rem(40px);
        }


    }
    .is-style-medium-over-image-paragraph {
        color: $primary;
        font-size: rem(30px);
        font-family: 'brandon-grotesque', sans-serif;
        text-transform: uppercase;
        margin: -15px 0 0;
        letter-spacing: (5px);

        @include media-breakpoint-down(md) { 
            font-size: rem(24px);
        }
    }
    .is-style-small-over-image-paragraph {
        color: $primary;
        font-size: rem(25px);
        font-family: 'brandon-grotesque', sans-serif;
        margin: 15px 0 0;
        letter-spacing: (2px);

        @include media-breakpoint-down(md) { 
            font-size: rem(18px);
        }
    }
}

.wp-block-cover {
    min-height: 570px;
    position: relative;

    @include media-breakpoint-down(md) { 
        min-height: 360px;
    }
   
}
.alignwide.header-bg.bg-white {
    .wp-block-cover {

        @include media-breakpoint-down(md) { 
            margin: 0rem 0rem;
        }

    }
}

hr {
    border-top: 1px solid $primary;
}