.is-style-outline {
    a.wp-block-button__link {
        border: 1px solid $primary;
        font-size: rem(16px);
        color: $primary;
        font-weight: 500;
        border-radius: 0;
        padding: 20px 40px;
        text-decoration: none;
        min-width: 205px;

        @include media-breakpoint-down(md) {
            font-size: rem(16px);
            padding: 20px 60px;
            min-width: 265px;
        }

        &:hover {
            background: $primary;
            color: #f5f5f1;
        }
    }
}

.btn-close {
    background-image: url('../images/close.svg');
    background-position: right center;
    width: 100%;
    height: 20px;
    position: relative;
    float: right;
    background-size: auto;
    background-repeat: no-repeat;
    @extend .clearfix;
    margin-bottom: -20px;
    @include media-breakpoint-down(md) {
       position: absolute;
       z-index: 1000;
       right: 16px;
       top: 48px;
    }
}

.btn {
    border: 1px solid $primary;
    font-size: rem(16px);
    color: $primary;
    font-weight: 500;
    border-radius: 0;
    padding: 20px 40px;
    text-decoration: none;
    min-width: 205px;

    @include media-breakpoint-down(md) {
        font-size: rem(16px);
        padding: 20px 60px;
        min-width: 265px;
    }

    &:hover {
        background: $primary;
        color: #f5f5f1;
    }
}