/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}



// wpcf7
.wpcf7 {
  p { width: 100% !important;
  }
  input[type="text"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="time"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  input[type="file"],
  input[type="select"],
  input[type="submit"],
  textarea,
  select  { 
  padding: .8rem 1rem;
  border: 1px solid #2b050c;
  width: 100%;
  margin-top: 1em;
  outline: 0;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  box-shadow: none;

      &::placeholder {
        color:#DAD6C5;
    }

  &:hover, &:focus {
    transition: .5s ease;
    }

    &.wpcf7-not-valid {
      border-bottom: 2px solid $orange;
      color :$orange !important;
    }
  }
  textarea {
  height: 265px;
  background-image: url('../images/lines_bg.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 92%;
  }

  span.required {
  display: none;
  }


  span.wpcf7-not-valid-tip {
    color: white;
    font-size: 12px;
    font-weight: normal;
    display: block !important;
    background: red;
    /* text-align: center; */
    padding-left: 21px;
  }


  p {
  margin-bottom: 0rem;
  }


  input[type="submit"] {
  width: auto !important;
  padding: rem(18px);
  margin-top: rem(50px);

    @include media-breakpoint-down(md) {
      width: 100% !important;
    }

  }

  div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
      font-weight: 600;
      @extend .py-2;
  }
}