body {
    background: $secondary;
}

img {
    max-width: 100%;
    height: auto;
}

p {

   
    
}

h1 {
    font-family: 'ano_halfregular', sans-serif;
    font-size: 3.6rem;
    font-weight: 100;
}

h2 {
    font-family: 'brandon-grotesque', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    @include media-breakpoint-down(md) {
        font-size: 2.5rem;
    }
}

h3 {
    font-family: 'brandon-grotesque', sans-serif;
    font-size: rem(28px);
    font-weight: 500;
    margin: 15px 0 30px;

    @include media-breakpoint-down(md) {
        font-size: rem(21px);
        line-height: rem(26px);
    }
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.375rem;
}

h5 {
    font-family: 'brandon-grotesque', sans-serif;
    font-weight: 800;
    font-size: rem(22px);
}


a {
    text-decoration: underline;
}

.alert {
    border-radius: 0rem;
}

.transition {
    -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            -webkit-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease;
}


.container {
    .content {
        max-width: 960px;
        margin: 0 auto;
    }
}

.order-last {
    transition: all 0.5s ease;
}

.col-md-4 {
    transition: all 0.5s ease;
}

.max-width-60 {
    max-width: 60%;
    @extend .mx-auto;

    @include media-breakpoint-down(lg) {
        max-width: 100%;
    }
}

// Register support for Gutenberg wide blocks
.alignwide {
   
    padding: 125px 7.5% ;
         @include media-breakpoint-up(xl) {
            margin-left  : calc( -7.5% );
            width : calc( 100% + 15%);
        }
}

.wp-block-separator.is-style-wide {
    @include media-breakpoint-up(lg) {
        margin-left  : calc( -7.5% );
        width : calc( 100% + 15%);
    }

}

.is-style-hide-on-mobile {
    @extend .d-none;
    @extend .d-lg-block;
}


.is-style-fixed-height {
    height: 100px !important;
    @include media-breakpoint-down(md) {
        height: 60px !important;
    }
}



// Social Icons

.social-icons {
    text-align: right;

    a.fb, a.insta {
        background-position: center;
        height: 20px;
        width: 20px;
        background-size: auto;
        background-repeat: no-repeat;
        display: inline-block;
        margin-right: 15px;
    }
}

a.fb {
    background-image: url('../images/fb.svg');
}
a.insta {
    background-image: url('../images/insta.svg');
}


// WP BLOCKS - styles

.is-style-small-text {
    @extend .small;
}

.is-style-offset-left {
    @extend .offset-lg-2;
}

.is-style-after-tag {
  &:after {
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: black;
      position: relative;
      display: block;
      @extend .mx-auto;
      @extend .my-4;

  }
}
.is-style-before-tag {
    &:before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: black;
        position: relative;
        display: inline-block;
        @extend .mr-3;
  
    }
  }


.is-style-margin-left-100 {
  
    @include media-breakpoint-up(lg) {
        margin-left: -100px;
        max-width: 620px;
    }
}

.is-style-even-height {
    height: 80px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 62px;

    img {
        max-height: 100%;
    }
}

// Custom paragraph style
.is-style-large-paragraph {
    font-size: rem(22px);
    font-family: 'Poppins', sans-serif;
    max-width: 60%;
    margin: 0 auto;

    @include media-breakpoint-down(md) {
        font-size: rem(15px);
        line-height: rem(21px);
        max-width: 80%;
    }
}


.spacer {
    height: 100px;
}

.rotate-90-cw {
	-webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.645, 0.045, 0.355, 1.000) .125s both;
	        animation: rotate-90-cw 0.4s cubic-bezier(0.645, 0.045, 0.355, 1.000) .125s both;
}

@-webkit-keyframes rotate-90-cw {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
  }
  @keyframes rotate-90-cw {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
  }

  .alignfull {

   

    @include media-breakpoint-down(lg) {

        margin-left  : calc( -100vw / 2 + 100% / 2 ) !important;
        margin-right : calc( -100vw / 2 + 100% / 2 ) !important;
        max-width    : 100vw;
        width    : 100vw !important; 

    }

}