@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,800,900&display=swap');

@font-face {
    font-family: 'ano_halfregular';
    src: url('../fonts/anohalf-regular-webfont.woff2') format('woff2'), url('../fonts/anohalf-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ano_regularregular';
    src: url('../fonts/anoregular-regular-webfont.woff2') format('woff2'), url('../fonts/anoregular-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/** Import Bootstrap functions */

@import "~bootstrap/scss/functions";
$theme-colors: ( primary: #340f17,
secondary: #f5f5f1);

/** Bootstrap navbar fix (https://git.io/fADqW) */

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
$primary: #340f17;
$secondary: #f5f5f1;
$font-family-sans-serif: 'Poppins', sans-serif;
$container-max-widths: ( sm: 540px,
md: 720px,
lg: 100%,
xl: 1375px) !default;
$body-bg: $secondary !default;
$body-color: $primary !default;