footer.content-info {
    .container {
        padding-top: 100px;

        .wp-block {
            padding-top: 100px;

            @include media-breakpoint-down(md) {
                padding-top: 7.5%;
            }
        }
    }

    ul#menu-footer {
        padding: 0;
        margin: 0;
        columns: 4;

        @include media-breakpoint-down(lg) {
            columns: 2;
        }

        @include media-breakpoint-down(md) {
            columns: 1;
        }


        >li {
            list-style-type: none;

            a {
                font-size: 12px;
                line-height: 18px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }


        }
    }

    p.copyright {
        font-weight: 500;
        font-size: 8px;
        line-height: 18px;
        margin-top: -40px;
    }
}