.banner .nav li {
    @extend .nav-item;
}

.banner .nav a {
    @extend .nav-link;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.banner img.logo {

    // @include media-breakpoint-between(md, lg) { 
    //     width: 200px !important;
    //  }

}

header {
    padding: 34px 0 110px;

    @include media-breakpoint-down(md) { 
        padding: 20px 0 20px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

nav.nav-primary {

    @include media-breakpoint-down(md) { 
        margin-top: 96px;
    }
    
    li {
        a {
            font-family: $font-family-sans-serif;
            font-size: rem(16px);
            font-weight: 500;
            white-space: nowrap;

            @include media-breakpoint-between(md, lg) { 
               padding: .5rem .5rem !important;
            }
        }
    }
    li.current_page_item {
        &:before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            background: $primary;
            border-radius: 20px;
            float: left;
            margin-top: 14px;

            @include media-breakpoint-between(md, lg) { 
                margin-right: 8px;
             }
           
        }
    }
}

.menu-main-container {

    @extend .d-none;
    @extend .d-lg-block;

}


// Badge


.logo-block {


    &:before {
        content: '';
        position: absolute;
        z-index: 1000;
        display: block;
        background-image: url('../images/badge.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        right: 30px;
        top: 0;
        width: 73.18px;
        height: 126.34px;

        @include media-breakpoint-down(md) {
           display: none;
           visibility: hidden;
        }
    }
}

// Banners
.indent-top {
    overflow: visible !important;
    align-items: flex-start !important;
    max-height: 478px;
    min-height: 478px !important;
    margin-top: rem(80px);
    z-index: 1;

    @include media-breakpoint-down(md) {
        align-items: center !important;
     }
    

    // &::before {
    //     content: '';
    //     display: block;
    //     // margin-left  : calc( -7.5% );
    //     width : calc( 100% + 15%);
    //     min-height: 478px !important;
    //     background-color: white;
    //     position: absolute;
    //     z-index: -1;
    //     margin-top: rem(-160px);
    // }

    .wp-block-cover__inner-container {
        margin-top: rem(-80px) !important;
        width: calc(100% - 46%);

        @include media-breakpoint-down(lg) {
            margin-top: rem(0px) !important;
         }

        @include media-breakpoint-down(md) {
            width: calc(100%);
         }
        

        p {
           
            font-size:rem(56px);
            line-height:rem(60px);
            text-transform: unset !important;
            letter-spacing: 0px;

            @include media-breakpoint-down(md) {
                font-size:rem(40px);
                line-height:rem(46px);
             }

        }
    }
    
}


// Search
.search-inline {
    form {
        display: flex;
        justify-content: right;
        align-items: center;

        .form-control {
            background: transparent;
            border: none;
            text-align: right;
            border-right:2px solid #DAD6C5;
            border-radius: 0;
            height: calc(1rem + 0.75rem + 2px);

            &::placeholder {
                color:#DAD6C5;
            }

            &:focus {
                box-shadow: none;
            }
        }

        button.search-icon {
            background: transparent;
            border: none;
            background-image: url('../images/search-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 1rem;
            height: 15px;
        }
    }
}

.header-bg.bg-white {
    height: calc(650px - 100px);
    margin-bottom: 120px;
    padding-top: 7.5%;


    @include media-breakpoint-down(md) {
        height: auto !important;
        padding-bottom: 7.5%;
        margin-bottom: 0px;
    }
    
}


// Hamburger

button.navbar-toggler {
    background-image: url(../images/hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 50px;
    @extend .d-lg-none;
    outline: 0;
    top: 5px;
    right: 30px;
    position: absolute;
    z-index: 9999;

    &.is-active {
        background-image: url(../images/modal_close.svg);
        left: 50%;
        margin-left: -15px;
        top: 85%;
        margin-top: -15px;
        @extend .rotate-90-cw;
        
    }
}


// Overlay Menu

.nav-overlay {
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    position: fixed;
    z-index: 9998;
    background: #8e451e;
    opacity: 0;
    visibility: hidden;
    @extend .transition;
    display: flex;
    justify-content: center;
    @extend .px-4;
    @extend .py-5;
    align-items: center;
  
    .navbar-nav {
      @extend .w-100;
      // @extend .pt-5;
  
      li {
        border-bottom:1px solid #dad6c5;
        @extend .py-3;
        text-align: center;

        &:first-child {
            border-top:1px solid #dad6c5;
        }

        a {
          font-size: rem(15px);
          font-weight: 500;
          text-decoration: none;
          color: #dad6c5;
  
          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }
  
    .navbar-nav .nav-item {
      @extend .border-bottom;
    }
  }
  .is-active .nav-overlay{
    opacity: 1;
    visibility: visible;
  }
  
  .is-active {
    overflow: hidden;
  }
  