.cheese-detail {
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    padding: 50px 0;
    margin-bottom: 100px!important;
}

.products-grid {
    .card {
        a {
            text-decoration: underline;
        }
        p {
            @include media-breakpoint-down(lg) {
               padding-left: 0;
               padding-right: 0;

            }
        }
    }
}

.wp-block-image.banner {
    max-width: inherit;
    padding: 0 !important;
}

// Vendors

.vendors {
   h5 {
    margin-top: rem(30px);
   }

   a {
       text-decoration: none;
       &:hover {
        color: #CC6633;
       }
   }
}

// Gallery

.wp-block-gallery .blocks-gallery-image figure, .wp-block-gallery .blocks-gallery-item figure {
    height: 172px;
}

.wp-block-gallery.columns-3 .blocks-gallery-image, .wp-block-gallery.columns-3 .blocks-gallery-item {

    @include media-breakpoint-up(lg) {
        width: calc((100% - 116px)/3);
        margin: 0 58px 24px 0;
    }

}
// Modal

.modal-header {
    // height: rem(155px);
    // padding: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-bottom: none;
    z-index: 9999;

    // &:before {
    //     content: '';
    //     position: absolute;
    //     display: block;
    //     width: 40%;
    //     height: 1px;
    //     border-top: 1px solid #dee2e6;
    //     margin-top: -20px;
    // }
    

}
.modal-header .close {

    background-image: url('../images/modal_close.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    padding: 1.75rem;
    opacity: 1;

    span {
        display: none;
        }

}

.modal-content {
    background-color: white;
    color: #DAD6C5;
    border-radius: 0;
    padding: rem(24px);

   .btn {
        color: #DAD6C5;
        border-color: #DAD6C5;
    }
}

.modal-body {
    // padding: 26px 0 0 0;
    padding: 0;
}

// Instagram

.instafeed {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @extend .col-lg-10;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(lg) { 
        flex-wrap: nowrap;
        overflow: hidden;
        align-items: center;
    }

    .row.no-gutter {
        margin-left: 0;
        margin-right: 0;
      }
      
      .row.no-gutter [class*='col-']:not(:first-child),
      .row.no-gutter [class*='col-']:not(:last-child) {
        padding-right: 0;
        padding-left: 0;
      }

      .parent {
        display: flex;
        align-items: center;
        position: relative;
        width : calc(100% / 4 - 20px );
        padding-bottom: calc(100% / 4 - 20px );
        margin-bottom: 20px;
        margin-right: 20px;
        border-radius: 50%;
        overflow: hidden;
        height: 0;
        justify-content: center;
        transition: all 300ms;

        @include media-breakpoint-down(lg) { 
          width : calc(100% / 6 - 20px );
          min-width : calc(100% / 6 - 20px );
          padding-bottom: calc(100% / 6 - 20px ) !important;
          margin-bottom: 0px;
        }
        @include media-breakpoint-down(md) { 
            width : calc(100% / 4 - 20px );
            min-width : calc(100% / 4 - 20px );
            padding-bottom: calc(100% / 4 - 20px ) !important;
          }

        
        &:hover {
            transform: scale(1.1);
            transition: all 300ms;
        }

      }
      
      .img-featured-container {
        overflow: hidden;
        position: absolute;
        top:0;
        bottom: -1px;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        

      }
      
      .img-featured-container img {
       display: none;
      }
      
      .img-featured-container .img-backdrop {
        // background: rgba(0,0,0,0.40);
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        cursor: pointer;

       

      }
}