.wp-block-columns {

    @include media-breakpoint-down(lg) {
        flex-wrap: wrap;
     }

    .wp-block-column {

        @include media-breakpoint-down(lg) {
            flex-basis: calc(100%);
         }

         p {

            @include media-breakpoint-down(lg) {
                padding-left: 0px;
                padding-right: 0px;
             }

         }

    }

    .wp-block-column:not(:first-child), .wp-block-column:nth-child(2n) {
        @include media-breakpoint-down(lg) {
            margin-left: 0px;
         }
    }
   

}

.wp-block-columns.has-3-columns {
    .wp-block-column {
        @include media-breakpoint-down(lg) {
            margin-bottom: 0em;
         }
    }
}